{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section id="hero" class="hero">
    <img src="{% static 'img/hero-bg.jpg' %}" alt="">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span> Spoon Restaurant</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">Delivering great food for more than 18 years!</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="" class="cta-btn">Our Menu</a>
              <a href="" class="cta-btn">Book a Table</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
            <a href="https://youtu.be/J0LAvL4G_cA?si=HKSmEI0X710lqwYz" class="glightbox pulsating-play-btn"></a>
          </div>
        </div>
    </div>


</section>
{% endblock %}
